/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#b0e1fb
  red: #C15965
  purple:#4B4D88
*/

.box {
  background-color: #b0e1fb;
}

.shape {
  position: relative;
  top: 260px;
  left: 90px;
  width: 265px;
  height: 200px;
  background-color: #C15965;
  rotate: 45deg;
  box-shadow: 38px 38px 0 100px #4B4D88;
}
.shape::before{
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  width: 500px;
  height: 200px;
  background-color: #b0e1fb;
  rotate: 45deg;
}
.shape::after{
  content: "";
  position: absolute;
  top: -140px;
  left: -75px;
  width: 70px;
  height: 200px;
  background-color: #4B4D88;
  border-radius: 100px;
  border: 10px solid #b0e1fb;
  rotate: -45deg;
}