/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#b0e1fb
  red: #C15965
  purple:#4B4D88
*/

.box {
  background-color: #b0e1fb;
}

.shape {
  position: relative;
  top: 105px;
  left: 137px;
  width: 0;
  height: 0;
  border-left: 63px solid transparent;
  border-right: 63px solid transparent;
  border-bottom: 65px solid #4b4d88;
}
.shape::after {
  content: "";
  position: absolute;
  top: -65px;
  left: -35px;
  width: 70px;
  height: 200px;
  background-color: #4b4d88;
  border-radius: 100px;
  border: 10px solid #b0e1fb;
}
.shape::before {
  content: "";
  position: absolute;
  top: 91px;
  left: -64px;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
  border-bottom: 64px solid #c15965;
}
