/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  background: #4893d2
  shape:#063a86
*/

.box {
  background-color: #4893d2;
}

.shape {
  position: relative;
  top: 26px;
  left: 150px;
  width: 100px;
  height: 250px;
  background-color: #063a86;
}
.shape::before {
  content: "";
  position: absolute;
  top: -72px;
  background-color: #4893d2;
  width: 100px;
  height: 100px;
  rotate: 45deg;
  box-shadow: 206px 206px #4893d2;
}
