/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#6cb3a9
  light red: #D25B70
  dark red:#781728
  yellow:#F6DF96
  white: #FFFFFF
*/

.box {
  background-color: #6cb3a9;
}

.shape {
  position: relative;
  top: 50px;
  left: 100px;
  width: 200px;
  height: 200px;
  background-color: #D25B70;
  border-radius: 100%;
  box-shadow: inset 0px -30px;
}
.shape::after{
  content: "";
  position: absolute;
  top: 65px;
  left: 65px;
  width: 70px;
  height: 70px;
  background-color: #F6DF96;
  border-radius: 100%;
  border: 10px solid #781728;
}
.shape::before{
  content: "";
  position: absolute;
  top: 110px;
  width: 200px;
  height: 90px;
}