/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Leaf yellow: #f3ac3c
  Leaf green: #998235
  Leaf dark green: #1a4341
*/

.box {
  background-color: #0b2429;
}

.leaf {
  position: relative;
  top: 76px;
  left: 75px;
  width: 150px;
  height: 149px;
  background-color: #1a4341;
  border-radius: 103px 0;
}
.leaf::after {
  content: "";
  position: absolute;
  left: 50px;
  width: 150px;
  height: 149px;
  background-color: #998235;
  border-radius: 103px 0;
}
.leaf::before {
  content: "";
  position: absolute;
  left: 100px;
  width: 150px;
  height: 149px;
  background-color: #f3ac3c;
  border-radius: 103px 0;
  z-index:1;
}