/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #62306d
  Yellow: #fff1c1
  Red: #fe5f55
*/

.box {
  background-color: #293462;
}

.shape {
  position: relative;
  top: 50px;
  left: 100px;
  width: 200px;
  height: 200px;
  background-color: #fe5f55;
  border-radius: 100px 100px 50px 50px;
}
