/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #AA445F
  Yellow: #F7EC7D
  Orange: #E38F66
*/

.box {
  background-color: #aa445f;
}

.shape {
  position: relative;
  top: 50px;
  left: 75px;
  width: 100px;
  height: 200px;
  background-color: #F7EC7D;
  border-radius: 110px 0 0 110px;
}
.shape::before{
  content: "";
  position: absolute;
  left: 150px;
  width: 100px;
  height: 200px;
  background-color: #E38F66;
  border-radius: 0 110px 110px 0;
}